<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("http://localhost:8090/products", function (result) {
                $.each(result, function (key, value) {
                    $("#productsJson").append(value.id + " " + value.name + " ");
                });
            });
        });
    </script>
</head>
<body>
    <div id="productsJson"></div>
    <h1 th:text="#{welcome.text}"></h1>
</body>

</html>